body{
    background: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 30px;
}

h1{
    font-family: Lobster;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

p{
    font-size: 16px;
    text-align: center;
}