<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
            <% include partials/nav.ejs %>
        <h1>Contact Us!</h1>
        <p>Contact the collest cats on the web right here...</p>
    </body>
</html>